<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>14.6</string>
	<key>LastFmApiKey</key>
	<string>$(LASTFM_API_KEY)</string>
	<key>LastFmApiSecret</key>
	<string>$(LASTFM_API_SECRET)</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;$(PRODUCT_BUNDLE_IDENTIFIER)&quot; and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = &quot;$(AppIdentifierPrefix)&quot;</string>
	</array>
	<key>NSAppleEventsUsageDescription</key>
	<string>scrobble.up needs the permission to get info about currently playing music.</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/netliam/scrobble.up/refs/heads/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>m8uUvgDKoeV0Rgz/EtnVOKDsUsPcoUOLLeLjWpTD8o0=</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
