<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>15</string>
	<key>LastFmApiKey</key>
	<string>$(LASTFM_API_KEY)</string>
	<key>LastFmApiSecret</key>
	<string>$(LASTFM_API_SECRET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>coverartarchive.org</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
			<key>listenbrainz.org</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
			<key>musicbrainz.org</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.2</string>
			</dict>
		</dict>
	</dict>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier "$(PRODUCT_BUNDLE_IDENTIFIER)" and anchor apple generic and certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = "$(AppIdentifierPrefix)"</string>
	</array>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://netliam.github.io/scrobble.up/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>m8uUvgDKoeV0Rgz/EtnVOKDsUsPcoUOLLeLjWpTD8o0=</string>
</dict>
</plist>
